include ../partials/header.pug
body.black
  include ../partials/navbar.pug

  div.section.black
    div.row.container
      include ../partials/breadcrumb.pug
      each product in products
        div.col.s12.m6.l4
          div.card
            div.card-image
              if product.inventory.quantity > 0
                img(src= product.image)
                button(data-target='stripe').modal-trigger.btn-floating.halfway-fab.waves-effect.waves-light.red
                  i.material-icons shopping_cart
              else
                img(src='/assets/images/things/out-of-stock.jpg')
            div.card-content
              span.selected_item_id.hide= product.id
              span.selected_item_name.card-title= product.attributes.name
              span.selected_item_price.right $#{product.price/100}
              p= product.attributes.description              
  
  include ../partials/modals/purchase.pug
  include ../partials/footer.pug
  script(src='/assets/js/scripts/init-select.js')
  script(src='/assets/js/scripts/init-modal.js')
  script(src='https://js.stripe.com/v3/')
  script(src='/assets/js/scripts/stripe-handler.js')
  script.
    var key = "#{key}";
    var stripeHandler = new StripeHandler(key);
    stripeHandler.setup();
